/*
 * @Author: ZHT 
 * @Date: 2020-02-27 22:42:55 
 * @Last Modified by:   ZHT 
 * @Last Modified time: 2020-02-27 22:42:55 
 */

body,
html {
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: pink;
}
